main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px;
}
.post-container{
    background-color: #fff;
    width: 560px;
    height: 100%;
    margin: 20px 15px;
    border: 1px solid #000;
    border-radius: 18px 18px 0px 0px;
}
.post-main:hover{
    transform: translateY(-10px);
}
.post-main{
    cursor: pointer;
    transition: 0.5s ease-in;
}
.post-header{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--global-color-base-darkBlue-500);
    width: 100%;
    height: 100px;
    border-radius: 18px 18px 0px 0px;
    color: #fff;
}
.post-header h3{
    width: 450px;
}
.post-user-img{
    width: 70px;
    height: 70px;
    border: 1px solid #000;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
}
.post-user-img img{
    width: 100%;
    height: 100%;
}
.post-title{
    margin: 0px 0px 0px 20px;
}
.post-body{
    height: 120px;
    padding: 20px
}
.post-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: var(--global-color-base-darkBlue-500);
}
.send-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px 5px 5px 7px;
    cursor: pointer;
}
.input-comment{
    display: flex;
    width: 100%;
    height: 20px;
    padding: 15px 10px;
    border-radius: 5px;
    margin: 0px 15px;
    outline: none;
    border: none;
}
.post-comments{
    display: none;
    flex-direction: column;
    width: 100%;
}
.comment{
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid #000; 
}
.user-comment{
    display: flex;
    height: 50px;
    margin: 0px 10px 0px 0px;
    width: 50px;
    border: 1px solid #000;
    border-radius: 50%;
}

.btn_close_comments{
    background-color: var(--global-color-base-darkBlue-500);
    cursor: pointer;
    color: #fff;
}
.btn_close_comments:hover{
    background-color: #005ff1;
    /* filter: invert(); */
}
@media screen and (max-width: 566px) {
    .post-container{
        width: 90%;
        margin: 10px 10px;
    }
    .user-comment{
        display: flex;
        width: 30px;
        height: auto;
    }
    .user-comment img{
        height: 30px;
        width: auto;
    }
    .post-user-img img{
        height: auto;
    }
    .post-user-img{
        display: flex;
        width: 71px;
        height: auto;
    }
    p{
        font-size: 12px;
    }
    h3{
        font-size: 15px;
    }
    a{
        font-size: 14px;
    }
    h1{
        font-size: 22px;
    }
}

@media screen and (max-width: 272px) {
    .post-user-img{
        height: 29px;
    }
    
}